@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
    font-size: 16px;
    max-width: 1000px;
    margin-left: 20%;
}
.happy{
    text-align: center;
    background-color: rgba(201, 52, 235, 0.8);
    border-radius: 30px;
    padding-bottom: 40px;
    padding-top: 10px;
}
.main{
    /* text-align: center; */
    background-color: rgba(52, 235, 183 , 0.6);
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    border-radius: 30px;
    display: inline-flex;
}
.love{
    margin-top: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgba(163, 168, 167, 0.4);
}

#img{
    width: 199px;
    display: block;
    border-radius: 40px;
    margin-left: 10px;
}
#text{
    margin-left: 10px;
    margin-top: 70px;
}
.img{
    border-radius: 40px;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 10px;
    transition: 0.3s;
}
.img:hover{
    background-color: rgba(163, 168, 167, 0.4);
    transition: 0.5s;
}
#foxid{
    margin-left: 50%;
    border-radius: 40px;
}
#love{
    border-radius: 40px;
}