@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color:#7cbe69;
    font-family: 'Roboto', sans-serif;
}
.all{
    max-width: 1000px;
    font-size: 18px;
}

.start{
    background-color: rgba(21, 105, 43, 0.4);
    border-radius: 20px;
    max-width: 100%;
    padding: 20px;
    margin: 10px;
}

.img img{
    display: inline;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgb(25, 194, 177);
    transition: 0.3s;
}
.img img:hover{
    box-shadow: -5px 5px 15px rgb(52, 79, 146);
    transition: 0.3s;
}
.img a {
    text-decoration: none;
    cursor: default;
}
.main{
    background-color: rgba(21, 105, 43, 0.4);
    border-radius: 20px;
    max-width: 100%;
    padding: 20px;
    margin: 10px;
}
@media (max-width: 700px) { 
    .main,.start,.all{
        display: block;
        text-align: center;
        font-size: 14px;
    }
    .img    
    {
        max-width: 500px;
        /* display:contents; */
        padding-left: 1px;
        text-align:center;
    }
}