@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color:#404040;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
    
}

a:hover{
color:red;
transition: 0.4s;
text-decoration:underline;
}
a:active{
    color: blue;
}
a:visited{
    color:#c0c0c0;
}
a{
    text-decoration: none;
    color: black;
}
.avatarka{
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 20px black;
}
.info p {
    color: #a3a3a3;
    font-style: italic;
}
.main{
    width: 100%;
}
.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main h1{
    text-align: center;
}
.container{
    max-width: 750px;
    margin: auto;
    
}
.container div{
    padding-top: 15px;
}
.container input ,
.container textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #C0C0C0;
    padding: 15px 15px 15px 0px;
    outline: none;
    font-family: inherit;
    color: #C0C0C0;
}

.container h3{
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.container ol{
    list-style:none;
    padding-inline-start: 0px;
    margin-block-start: 5px;
    margin-inline-start: 5px;
}
.social{
    margin-bottom: 15px;
}

.hobbi{
    width: 100%;
    background-color: #c0c0c0 ;
    padding: 5px 5px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding-left: 30px;
}
.hobbi ol {
    list-style:none;
    padding-inline-start: 0px;
}
.love{
    width: 100%;
    background-color: #c0c0c0 ;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding-left: 30px;
}
.work{
    width: 100%;
    background-color: #c0c0c0 ;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
}
.work td{
    text-align: center;
}
/* .work{
    text-align: center;
} */
.work h3{
    padding-left: 290px;
}
.work tr,
.work td,
.work th
{
    padding-left: 50px;
    text-align: center;
}

.said label{
    display: block;
    font-size: 14px;
    margin-right: 10px;
}
.said{
    width: 100%;
}
.said h3{
    text-align: center;
    display: block;
}
.row{
    display:flex;
}
.row label{
    display: block;
}
input:hover,
textarea:hover
{
    background-color: #C0C0C0;
    transition: 1s;
    border-radius: 50px;
}



